<div class="app-wallet">
  <header>
    
    <h2>Phantom wallet connection!</h2>
  </header>

  <main>
    <section>
      <select
        [ngModel]="walletName$ | async"
        (ngModelChange)="onSelectWallet($event)"
      >
        <option [ngValue]="null">Not selected</option>
        <option
          *ngFor="let wallet of wallets$ | async"
          [ngValue]="wallet.adapter.name"
        >
          {{ wallet.adapter.name }} ({{ wallet.readyState }})
        </option>
      </select>

      <p>
        Selected provider: {{ walletName$ | async }}
        <ng-container *ngIf="ready$ | async">(READY)</ng-container>
      </p>
      <p>Wallet Key: {{ publicKey$ | async }}</p>
      <button class="btn"
        (click)="onConnect()"
        *ngIf="(connected$ | async) === false && (walletName$ | async) !== null"
        [disabled]="(ready$ | async) === false"
      >
        Connect
      </button>
      <button class="btn" (click)="onDisconnect()" *ngIf="connected$ | async">
        Disconnect
      </button>
    </section>

    <section *ngIf="publicKey$ | async as publicKey">
      <h2>Transaction</h2>

      <div>
        <label>Recipient</label>
        <input class="inpt" type="text" [(ngModel)]="recipient" />
      </div>

      <div>
        <label>Lamports</label>
        <input class="inpt" type="number" [(ngModel)]="lamports" />
      </div>

      <button class="btn" (click)="onSendTransaction(publicKey)">Send Transaction</button>
      <button class="btn" (click)="onSignTransaction(publicKey)">Sign Transaction</button>
      <button class="btn" (click)="onSignAllTransactions(publicKey)">
        Sign All Transactions
      </button>
      <button class="btn" (click)="onSignMessage()">Sign Message</button>
    </section>
  </main>
</div>
